{% extends "base_template.html" %}
{% load widget_tweaks %}

{% block title %}
   {{block.super}}: Base Commodities List
{% endblock title %}


{% block content %}


  {% if basecommodity_list %}
  <table class="table table-striped mb-4">
    <thead class="thead-inverse">
      <tr>
        <th>Commodity</th>
      </tr>
    </thead>
    <tbody>
      {% for bc in basecommodity_list %}
        <tr>
          <td>
            <p class="mb-0">
              <a href="{% url 'base-commodity-detail' bc.pk %}">{{ bc.name }}</a>
            </p>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
      <p>There are no categories!</p>
    {% endif %}       

{% endblock content %}

{% block footer %}

{{block.super}}
{% endblock footer %}




