{% extends "base_template.html" %}

{% block content %}



<h3>Title: {{ category }}</h3>

  <p><strong>Category:</strong> {{ category }}</p> <!-- author detail link not yet defined -->
  <p><strong>Commodities:</strong> 

    Number of Commodities: {{ category.get_commodity_count }} 
    
<table class="table" >
        <thead class= "thead-inverse" >
        <tr>
          <th>Commodity Name</th>
          <th>Commodity id</th>
        </tr>
        </thead>
        
        <tbody>
           {% for base_commodity in category.basecommodities.all %} 
            <tr>
              <td><a href="{% url 'base-commodity-detail' base_commodity.pk %}">{{ base_commodity.name }}</a></td>
              <td class="align-middle"> {{base_commodity.id}} </td>
            </tr>
            {% endfor %}
        </tbody>
</table>

{% endblock %}
