{% extends "base_template.html" %}
{% load widget_tweaks %}

{% block title %}
   {{block.super}}: Categories 
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active">Category</li>
<li class="breadcrumb-item"><a href="{% url 'commodities' %}">Commodities</a></li>
{% endblock%}

{% block content %}
<form method="post" novalidate>
  {% csrf_token %}
  {% include 'includes/form.html' %}
  <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}

{% block footer %}
Category Footer
{% endblock%}