{% extends "base_template.html" %}
{% load widget_tweaks %}
{% block stylesheet %} 
<link rel="stylesheet" href="/static/css/style3.css">
{% endblock stylesheet%}
{% block title %}
   {{block.super}}: Categories
{% endblock title %}


{% block content %}



  {% if purchasecommodity_list %}
  <table class="table table-striped mb-4">
    <thead class="thead-inverse">
      <tr>
        <th>Category</th>
        <th>Commodity</th>
        <th>Description</th>
        <th>API Sources</th>
      </tr>
    </thead>
    <tbody>
      {% for commodity in purchasecommodity_list %}
        <tr>
          <td>
            <p class="mb-0">
              <a href="{{ commodity.get_absolute_url }}">{{ commodity.name }}</a>
            </p>
          </td>
          <td>Commodity</td>
          <td>Description</td>
          <td>API Sources</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
      <p>There are no categories!</p>
    {% endif %}       
{% endblock content %}

























