{% extends "base_template.html" %}
{% load widget_tweaks %}

{% block title %}
   {{block.super}}: Time Series List
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'bakery-portal-index' %}">Home</a></li>
<li class="breadcrumb-item active">Category</li>
<li class="breadcrumb-item"><a href="#">Commodities</a></li>
{% endblock breadcrumb %}

{% block content %}


  {% if timeseries_list %}
  <table class="table table-striped mb-4">
    <thead class="thead-inverse">
      <tr>
        <th>Time Series</th>
      </tr>
    </thead>
    <tbody>
      {% for ts in timeseries_list %}
        <tr>
          <td>
            <p class="mb-0">
              <a href="{% url 'timeseries-detail' ts.pk %}">{{ ts.base_commodity }}</a>
            </p>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
      <p>There are no Time Series!</p>
    {% endif %}       

{% endblock content %}

{% block footer %}

{{block.super}}
{% endblock footer %}




