{% extends "base_template.html" %}
{% load widget_tweaks %}

{% load static %}

{% block title %}
   {{block.super}}: Categories List
{% endblock title %}

{% block stylesheet %}
  {{block.super}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
{% endblock stylesheet %}

{% block content %}


    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Analytical Views
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"><i class="fa fa-bar-chart" style="font-size:24px;color:green;"> &nbsp </i>Last 30 Day Activity </a>
          <a class="dropdown-item" href="#"><i class="fa fa-line-chart" style="font-size:24px;color:green;"> &nbsp </i>Audience Persona</a>
          <a class="dropdown-item" href="#"><i class="fa fa-globe" style="font-size:24px;color:green;"> &nbsp </i>Audience Analysis</a>
          <a class="dropdown-item" href="#"><i class="fa fa-bank" style="font-size:24px;color:green;"> &nbsp </i>Repeat Audience Analysis</a>
          <a class="dropdown-item" href="#"><i class="fa fa-television" style="font-size:24px;color:green;"> &nbsp </i>Loyal Customer Analysis</a>
          <a class="dropdown-item" href="#"><i class="fa fa-pie-chart" style="font-size:24px;color:green;"> &nbsp </i>KPI Trends</a>
        </div>
      </div>


    <script type='text/javascript' src='http://dashboards.biznessanalytics.com/javascripts/api/viz_v1.js'>
    </script>
    
    <div id="myViz1" class='tableauPlaceholder' style='width: 1511px; height: 605px;'>
        <object id="myViz" class='tableauViz' width='100%' height='100%' style='display:none;'>
            <param name='host_url' value='{{host_url|safe}}' /> 
            <param name='embed_code_version' value='{{embed_code_version|safe}}' /> 
            <param name='site_root' value='{{site_root|safe}}' />
            <param name='name' value='{{name|safe}}' />
            <param name='tabs' value='yes' />
            <param name='toolbar' value='yes' />
            <param name='showAppBanner' value='false' />
            <param name='showShareOptions' value='true' />
      </object>
    </div>

<script>
    document.getElementById("myViz").style.width = screen.availWidth; 
    document.getElementById("myViz").style.height = "605px";
</script>


{% endblock content %}


{% block javascript %}
<script>
function myFunction() {
    vizWindow = window.open(url = "{% url 'viz-home' %}", name = "_blank", specs = "toolbar=no, titlebar=no, scrollbars=yes,resizable=yes,");
    vizWindow.resizeTo(screen.availWidth, screen.availHeight);                             // Resizes the new window
    vizWindow.focus();  
}
</script>
{% endblock javascript %}


