{% extends "base_template.html" %}

{% block content %}

<h3>Branch List</h3>

<div class="w3-row-padding w3-margin-bottom">
  <div class="w3-panel">
        <div class="">
            <h5>Branch List</h5>
            <table class="w3-table-all w3-card-4 " >
              <thead>
                <th>Branch Name</th>
              </thead>

              {% for branch in branch_list %}
                <tr >
                    <td><a href="{{branch.get_absolute_url}}">{{ branch }}</a></td>  
                  </tr>
                {% empty %}
                <td>There are no branches!</td>
                {% endfor %}
            </table>
        </div>
      </div>
  </div>     




{% endblock %}
