{% extends "base_template.html" %}

{% block content %}
  
<div class="w3-panel">
        <h3>{{ customer }}</h3>
        Number of Orders: {{ customer.orders.count }} 
        
</div>

    <table class="w3-table">
        <thead>
            <th>Order Date</th>
            <th>Order Amount</th>
            <th>Occassion</th>
            <th>Branch</th>
            <th>Company</th>
        </thead>

    <tbody>
    {% for order in customer.orders.all %} 
        <tr>
            <td><a href="{% url 'order-detail' order.id %}">{{ order.Order_Date }}</a></td>
            <td>{{order.Total_Amount}} </td>
            <td>{{order.Occassion}} </td>
            <td><a href="{% url 'branch-detail' order.Branch.id %}">{{order.Branch}}</a> </td>
            <td><a href="{% url 'company-detail' order.Company.id %}">{{order.Company}}</a> </td>
        </tr>
    {% empty %}        
        <p>There are no orders!</p>
    {% endfor %}
</tbody>
</table>

{% endblock %}