{% extends "base_template.html" %}

{% block content %}

<h3>Customer List</h3>

<div class="w3-row-padding w3-margin-bottom">


  <div class="w3-panel">
                
        <div class="">
            <h5>Customer List</h5>
            <table class="w3-table-all w3-card-4 " >
              <thead>
                <th></th>
                <th>Customer Name</th>
                <th>Total Orders</th>
                <th>Last Order</th>
                <th>Contact Number</th>
                <th>Text Promotion</th>
              </thead>

              {% for customer in customer_list %}
              {% url 'order-detail' customer.get_latest_order.id as order_id %}
                <tr >
                    <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                    <td><a href="{{customer.get_absolute_url}}">{{ customer }}</a></td>  
                    <td>{{customer.get_order_count}}</td>
                    <td> <a href="{{order_id}}"> {{customer.get_latest_order}} </a> </td>
                    <td> Call: {{customer.phone_number}} </td>
                    <td> <button> Make Promotion </button> </td>  
                  </tr>
                {% empty %}
                <td>There are no customers!</td>
                {% endfor %}
            </table>



            <div class="pagination">
            <span class="step-links">
                {% if customer_list.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ customer_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ customer_list.number }} of {{ customer_list.paginator.num_pages }}.
                </span>

                {% if customer_list.has_next %}
                    <a href="?page={{ customer_list.next_page_number }}">next</a>
                    <a href="?page={{ customer_list.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
            </div>
        </div>


      </div>


    
      
  </div>     




{% endblock %}
