{% extends "base_template.html" %}

{% block content %}

<div class="w3-panel">
    <h3>Title: {{ occassion }}</h3>
</div>

<div class="w3-panel">
    <p><strong>Occassion:</strong> {{ occassion }}</p>
    <p><strong>Orders:</strong> 
</div>

<div>
    <table class="w3-table">
        <thead>
            <th>Company</th>
            <th>Branch</th>
            <th>Order Date</th>
            <th>Customer Name</th>
            <th>Total Amount</th>
        </thead>
        <tbody>
            {% for order in occassion.get_orders_sorted_by_date %} 
                <tr>
                <td><a href="{{order.Company.get_absolute_url}} "> {{ order.Company}} </a> </td>
                <td><a href="{{order.Branch.get_absolute_url}} "> {{ order.Branch}} </a> </td>
                <td><a href="{{order.Order_Date.get_absolute_url}} "> {{ order.Order_Date}}</a></td>
                <td><a href="{{order.Customer.get_absolute_url}} "> {{ order.Customer }}</a></td>
                <td>{{ order.Total_Amount }}</td>
            </tr>
            {% empty%}
                <p>There are no orders!</p>
            {% endfor %}
        </tbody>
    </table>
    
</div>

{% endblock %}