<html height="100%">
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <i class="fa fa-close" style="font-size:16px;color:red;" onclick="closeViz()"></i> 

    <div class='tableauPlaceholder'>
        <object class='tableauViz' width='100%' height='100%' style='display:none;'>
        <param name='host_url' value='{{host_url|safe}}' /> 
        <param name='embed_code_version' value='{{embed_code_version|safe}}' /> 
        <param name='site_root' value='{{site_root|safe}}' />
        <param name='name' value='{{name|safe}}' />
        <param name='tabs' value='{{tabs|safe}}' />
        <param name='toolbar' value='{{toolbar|safe}}' />
        <param name='showAppBanner' value='{{showAppBanner|safe}}' />
        <param name='showShareOptions' value='{{showShareOptions|safe}}' />
        </object>
    </div>


    <script type='text/javascript' src='http://dashboards.biznessanalytics.com/javascripts/api/viz_v1.js'></script>
    <script>
        function closeViz() {
            myWindow = window.self
            myWindow.close();   
        }

    </script>        
</body>
</html>

